<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="stylesheet" type="text/css" href="core.css">
    <link rel="stylesheet" type="text/css" href="color-picker.css">
    
    <link rel="stylesheet" type="text/css" href="shared/style/buttons.css">
    <link rel="stylesheet" type="text/css" href="shared/style/switches.css">
    <script src="shared/js/gesture_detector.js"></script>
    <script src="color_picker.js"></script>
    <title>Template</title>

    <style>
    body >  div {
        width: 300px;
        height: 50px;
        border: 1px solid #000;
        margin:5px;
        text-align: center;
        font-size: 40px;
        color: #FFFFFF;
        text-shadow: 2px 2px #000000;
      }
    </style>
  </head>

  <body role="application">
    <div id='button' style="background-color:#FF00FF">#FF00FF</div>
    <div id='button2' style="background-color:#BADA55">#BADA55</divn>
    <script>
    var colorInput = document.getElementById('button');
    colorInput.addEventListener('click', function() {
        ColorPicker.show(colorInput.innerHTML, function(color){
          colorInput.innerHTML = colorInput.style.backgroundColor = color;
        });
      });
    var colorInput2 = document.getElementById('button2');
    colorInput2.addEventListener('click', function() {
        ColorPicker.show(colorInput2.innerHTML, function(color){
          colorInput2.innerHTML = colorInput2.style.backgroundColor = color;
        });
      });
    </script>
  </body>

</html>
