#quick-settings {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0;

  background-image: url(images/background.png);
  background-size: 100% 60px;

  border-top:1px black solid;
}

#quick-settings > a {
  display: block;
  float: left;
  width: -moz-calc(20% - 2px);
  height: 30px;
  margin: 15px 0;
  padding: 0;

  color: #fff;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  line-height: 18px;
}

#quick-settings > .separator {
  border-right: 1px black solid;
  border-left: 1px gray solid;
  margin: 15px 0;
  height: 30px;
  float: left;
}

#quick-settings > a:first-child {
  width: -moz-calc(20% - 1px);
  border-left: 0;
}

#quick-settings > a:last-child {
  width: -moz-calc(20% - 1px);
  border-right: 0;
}

#quick-settings > a {
  background: center no-repeat;
}
#quick-settings > *[data-initializing] {
  opacity: 0.5;
}
#quick-settings > #quick-settings-wifi {
  background-image: url(images/wifi-off.png);
}
#quick-settings > #quick-settings-wifi[data-enabled="true"] {
  background-image: url(images/wifi-on.png);
}
#quick-settings > #quick-settings-data[data-enabled="false"] {
  background-image: url(images/data-off.png);
}
#quick-settings > #quick-settings-data[data-enabled="2G-false"] {
  background-image: url(images/data-2g-off.png);
}
#quick-settings > #quick-settings-data[data-enabled="2G-true"] {
  background-image: url(images/data-2g-on.png);
}
#quick-settings > #quick-settings-data[data-enabled="3G-false"] {
  background-image: url(images/data-3g-off.png);
}
#quick-settings > #quick-settings-data[data-enabled="3G-true"] {
  background-image: url(images/data-3g-on.png);
}
#quick-settings > #quick-settings-data[data-enabled="4G-false"] {
  background-image: url(images/data-4g-off.png);
}
#quick-settings > #quick-settings-data[data-enabled="4G-true"] {
  background-image: url(images/data-4g-on.png);
}
#quick-settings > #quick-settings-data[data-enabled="E-false"] {
  background-image: url(images/data-e-off.png);
}
#quick-settings > #quick-settings-data[data-enabled="E-true"] {
  background-image: url(images/data-e-on.png);
}
#quick-settings > #quick-settings-data[data-enabled="H-false"] {
  background-image: url(images/data-h-off.png);
}
#quick-settings > #quick-settings-data[data-enabled="H-true"] {
  background-image: url(images/data-h-on.png);
}
#quick-settings > #quick-settings-data[data-enabled="H+-false"] {
  background-image: url(images/data-h+-off.png);
}
#quick-settings > #quick-settings-data[data-enabled="H+-true"] {
  background-image: url(images/data-h+-on.png);
}
#quick-settings > #quick-settings-data[data-enabled="O-false"] {
  background-image: url(images/data-h+-off.png);
}
#quick-settings > #quick-settings-data[data-enabled="O-true"] {
  background-image: url(images/data-h+-on.png);
}
#quick-settings > #quick-settings-bluetooth {
  background-image: url(images/bluetooth-off.png);
}
#quick-settings > #quick-settings-bluetooth[data-enabled="true"] {
  background-image: url(images/bluetooth-on.png);
}
#quick-settings > #quick-settings-power-save {
  background-image: url(images/power-save-off.png);
}
#quick-settings > #quick-settings-power-save[data-enabled="true"] {
  background-image: url(images/power-save-on.png);
}
#quick-settings > #quick-settings-full-app {
  background-image: url(images/settings-off.png);
}
#quick-settings > #quick-settings-full-app:active {
  background-image: url(images/settings-on.png);
}
.quick-settings-airplane-mode {
  opacity: 0.5;
}
