/* ----------------------------------
* Seekbars
* ---------------------------------- */
div[role="slider"] {
  position: relative;
  overflow: visible;
}

div[role="slider"] input {
  display: none;
}

div[role="slider"] > div,
div[role="slider"] > span {
  display: inline-block;
  height: 2.2rem;
}

div[role="slider"] > div {
  position: relative;
  z-index: 1;
  width: 100%;
}
div[role="slider"] > span + div {
  width: calc(100% - (2 * 15%) - 3rem); /* minus 2*(label width) & padding */
}
div[role="slider"] > .icon + div {
  width: calc(100% - (2 * 3rem) - 3rem); /* minus 2*(icon width) & padding */
  top: -.4rem;
}

div[role="slider"] progress {
  width: 100%;
  background: #2A2A2A;
  border: none;
  height: .1rem;
  position: absolute;
  top: 1rem;
  z-index: -2;
  margin: auto;
}
div[role="slider"] progress::-moz-progress-bar {
  background: #01c5ed;
  height: .3rem;
  margin-top: -.1rem;
  border-radius: .1rem;
}

div[role="slider"] > span {
  font-size: 1.5rem;
  font-family: "Open Sans", Sans-serif;
  color: #6B6B6B;
  text-align: center;
  position: relative;
  width: 15%;
  line-height: 2.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div[role="slider"] > span.icon {
  width: 3rem;
  height: 3rem;
  font: 0/0 a;
  background-repeat: no-repeat;
}
div[role="slider"] > span:first-child {
  margin-right: 1.5rem;
}
div[role="slider"] > span:last-child {
  margin-left: 1.5rem;
}

div[role="slider"] .handler,
div[role="slider"] .circles {
  -moz-transition: transform;
}

div[role="slider"] .handler {
  width: 3rem;
  height: 3rem;
  background: url(seekbars/images/ui/handler.png) no-repeat .4rem .4rem;
  font: 0/0 a;
  position: absolute;
  top: -.4rem;
  border: none;
  padding: 0;
  margin-left: -1.65rem;
}
div[role="slider"][data-silver="true"] .handler {
  background-image: url(seekbars/images/ui/handler-silver.png);
}

div[role="slider"] .circles {
  position: absolute;
  top: -.5rem;
  left: -1.7rem;
  z-index: -1;
}

div[role="slider"] .circles:before,
div[role="slider"] .circles:after {
  position: absolute;
  content: '';
  background: #00caf2;
  border-radius: 50%;
  -moz-transition: transform 0.1s;
  -moz-transform: scale(0);
}
div[role="slider"] .circles:before {
  width: 3.2rem;
  height: 3.2rem;
  top: 0rem;
  left: 0rem;
}
div[role="slider"] .circles:after {
  width: 10.8rem;
  height: 10.8rem;
  opacity: .5;
  top: -3.65rem;
  left: -3.65rem;
}
div[role="slider"] .handler.active ~ .circles:before,
div[role="slider"] .handler.active ~ .circles:after,
div[role="slider"] .handler:active ~ .circles:before,
div[role="slider"] .handler:active ~ .circles:after {
  -moz-transform: scale(1);
}
