.draggable {
  z-index: 10000;
  pointer-events: none;
  position: fixed;
  text-align: center;
  width: 8rem;
}

.draggable > div {
  width: 100%;
	margin-top: .4rem;
	margin-bottom: .4rem;
  -moz-transform: scale(1.25);
  -moz-transition: -moz-transform .3s;
}

/* label wrapper */
.draggable > div > span {
  /* shift left edge of text to center */
  left: 50%;
}

/* text label */
.draggable > div > span > span {
  font-size: 1.3rem;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0,0,0,0.6);
  /* shift left edge of text half distance to left */
  margin-left: -106%;
}

.overDock > div > *:not(img) {
	opacity: 0;
}

@-moz-keyframes shake {
  0% { -moz-transform: scale(1); }
  25% { -moz-transform: scale(1.05); }
  50% { -moz-transform: scale(1); }
  75% { -moz-transform: scale(0.95); }
  100% { -moz-transform: scale(1); }
}

@-moz-keyframes fadeOut {
  0% { opacity: 1; }
  16% { opacity: .95; }
  33% { opacity: .9; }
  50% { opacity: .8; }
  66% { opacity: .7; }
  83% { opacity: .65; }
  100% { opacity: .6; }
}

@-moz-keyframes fadeIn {
  0% { opacity: .6; }
  14% { opacity: .6; }
  28% { opacity: .65; }
  42% { opacity: .7; }
  57% { opacity: .8; }
  71% { opacity: .9; }
  85% { opacity: .95; }
  100% { opacity: 1; }
}

@-moz-keyframes none {}

body ol > li > div > img {
  -moz-transform-origin: 50% 50%;
}

/* Image and label have shaking and fade effect */
body[data-mode='edit'] ol > li > div > img {
  -moz-animation-name: shake,fadeOut;
  -moz-animation-duration: .8s,.12s;
  -moz-animation-iteration-count: infinite,1;
  -moz-animation-fill-mode: none, forwards;
}

body[data-mode='normal'] ol > li > div > img {
  -moz-animation-name: fadeIn;
  -moz-animation-duration: .07s;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
}

body[data-mode='edit'][data-transitioning] ol > li > div > img,
body[data-mode='edit'][data-dragging] ol > li > div > img {
  -moz-animation-name: fadeOut;
  -moz-animation-duration: .12s;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: none, forwards;
}

body[data-mode = 'normal'] ol > li span.options {
  display: none;
}

body[data-dragging] ol > li span.options {
  pointer-events: none;
}

body[data-mode='edit'] ol > li[data-dragging] {
  opacity: 0;
}

body[data-mode='edit'] ol > li {
  -moz-animation-duration: .3s;
}

@-moz-keyframes jumpNextCell {
  0% { -moz-transform: translateX(0); }
	100% { -moz-transform: translateX(100%); }
}

@-moz-keyframes jumpPrevCell {
  0% { -moz-transform: translateX(0); }
	100% { -moz-transform: translateX(-100%); }
}

@-moz-keyframes jumpNextRow {
  0% { -moz-transform: translate(0,0) }
	100% { -moz-transform: translate(-300%, 100%) }
}

@-moz-keyframes jumpPrevRow {
  0% { -moz-transform: translate(0,0) }
	100% { -moz-transform: translate(300%, -100%) }
}
